:root {
    --text-light: #130a15;
    --bg-light: #f3eaf5;
    --primary-light: #9ec495;
    --secondary-light: #f5eef7;
    --accent-light: #567f8f;

    --text-dark: #f3eaf5;
    --bg-dark: #130a15
    --primary-dark: var(--primary-light);
    --secondary-dark: #0f0811;
    --accent-dark: #7099a9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-light);
}

/*----HEADER----*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu {
    list-style: none;
    display: flex;
}

.itemMenu {
    padding: 30px;
    color: black;
}

/*---MAIN----*/

.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(https://dummyimage.com/1000x400/c5c6c7/fff);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portada span {
    color: green;
}

/*----PRODUCTOS----*/
.contenedorCards {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.product {
    height: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    margin: 10px;
    box-shadow: 10px 13px 5px -4px rgba(0,0,0,0.23);
    -webkit-box-shadow: 10px 13px 5px -4px rgba(0,0,0,0.23);
    -moz-box-shadow: 10px 13px 5px -4px rgba(0,0,0,0.23);
    background-color: var(--primary-light);
}

.product img {
    height: 200px;      
}
.product h3 {
    margin-top: 0;
}

.card .card-body {
    padding: 12px;
}

/* .container .col {
    padding: 0px;
    width: 30px;
    height: 30px;
    flex: 0 0 0%;
} */

.card .container {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.card .container .div-quantity {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.container p {
    margin: 0px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    padding-top: 2px;
}

.quantity-sum, .quantity-minus {
    width: 35px;
    height: 35px;
    border: none;
    padding: 0px;
    background-color: rgba(128, 128, 128, 0.247);
}

/*----CARRITO----*/
.cart {
    border: 2px solid black;
}

.cart h2 {
    text-align: center;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    margin-bottom: 5px;
}

.cart div {
    text-align: center;
}

.cart button {
    padding: 5px;
}

.add-to-cart-btn {
    background-color: var(--primary-light);
    border-radius: 10px;
    border: 0px;
    color: var(--text-light);
    padding: 5px 5px;
    cursor: pointer;
    text-align: center;
    height: 35px;
}

.add-to-cart-btn:hover {
    /* transform: scale(1.1);
    transition-duration: .5s; */
    color: white;
    box-shadow: 5px 8px 5px -4px rgba(0,0,0,0.23);
}

.total {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: var(--primary-light);
    color: white;
    border: 2px solid black;
    margin-bottom: 50px;
}

/*--FOOTER--*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-light);
    padding: 20px;
}